---
import Layout from "../layouts/Layout.astro";
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
---

<Layout>
    <Header/>
        <main class="px-4 sm:px-6 lg:px-8 mx-auto max-w-7xl flex flex-col gap-4">
            <h1 class="line-y py-2 text-5xl tracking-tight sm:text-6xl text-pretty">Conditions d'utilisation</h1>
            <p>Dernière mise à jour le <time datetime="2025-05-03T15:00:00">4 mars 2025</time>.</p>
            <div class="max-w-7xl py-4 grid grid-cols-1 gap-6 text-sm/7 text-gray-600 [&_strong]:font-semibold [&_strong]:text-gray-950 [&_p]:mb-2 [&_h1]:mb-4 [&_h1]:text-base/7 [&_h1]:font-semibold [&_h1]:text-gray-950 [&_h2]:text-base/7 [&_h2]:font-semibold [&_h2]:text-gray-950 [&_h3]:font-semibold [&_h3]:text-gray-950 [&_a]:font-semibold [&_a]:text-gray-950 [&_a]:underline [&_a]:decoration-sky-400 [&_a]:underline-offset-4 [&_a]:hover:text-sky-500 [&_li]:relative [&_li]:before:absolute [&_li]:before:-top-0.5 [&_li]:before:-left-6 [&_li]:before:text-gray-300 [&_li]:before:content-[&quot;▪&quot;] [&_ul]:pl-9 [&_pre]:overflow-x-auto [&_pre]:rounded-xl [&_pre]:border-4 [&_pre]:border-gray-950 [&_pre]:bg-gray-900 [&_pre]:p-4 [&_pre]:text-white [&_pre]:outline-1 [&_pre]:-outline-offset-5 [&_pre]:outline-white/10 [&_pre_code]:bg-gray-900 [&_code]:not-in-[pre]:font-medium [&_code]:not-in-[pre]:text-gray-950 s">
                <section>
                    <h1>Introduction</h1>
                    <p>La présente plateforme de signalement est mise à disposition par l'association Tisseco dans le but de recueillir les signalements des utilisateurs concernant l'état des points d'apport volontaire de vêtements et de permettre au grand public de localiser ces points. Les présentes Conditions d'utilisation régissent l'accès et l'utilisation de cette plateforme. En accédant à la plateforme ou en l'utilisant, vous reconnaissez avoir lu, compris et accepté d'être lié par ces conditions dans leur intégralité. Il est donc essentiel que vous les lisiez attentivement avant toute utilisation.</p>
                </section>
                <section>
                    <h1>Acceptations des conditions</h1>
                    <p>L'utilisation de cette plateforme est subordonnée à votre acceptation et au respect des présentes Conditions d'utilisation. Avant de pouvoir utiliser les services proposés, il est impératif que vous preniez connaissance de ces termes et que vous les acceptiez. Si vous n'acceptez pas l'ensemble de ces conditions, vous ne devez pas utiliser la plateforme. Il est recommandé de lire attentivement chaque disposition afin de comprendre vos droits et obligations en tant qu'utilisateur. Une case à cocher ou un bouton de confirmation pourrait être mis en place pour formaliser cette acceptation lors de la première utilisation ou de la création d'un compte, renforçant ainsi la validité juridique de cet accord.</p>
                </section>
                <section>
                    <h1>Description du service</h1>
                    <p>La plateforme de signalement offre les fonctionnalités suivantes : la possibilité pour les utilisateurs de signaler un point d'apport volontaire comme étant plein ou dégradé, l'option d'envoyer une ou plusieurs photos pour illustrer le signalement, et une carte interactive permettant de rechercher un point d'apport volontaire à partir d'une adresse. Ce service est conçu pour faciliter la gestion et l'entretien des points de collecte de vêtements par Tisseco et pour informer le public de la localisation de ces points. La plateforme est mise à disposition au bénéfice de l'association Tisseco et du grand public souhaitant contribuer au réemploi des vêtements.</p>
                </section>
                <section>
                    <h1>Conduite et responsabilités de l'utilisateur</h1>
                    <p>L'utilisation de la plateforme doit se faire dans le respect des lois et des présentes conditions. Les utilisateurs sont responsables de leurs actions et du contenu qu'ils soumettent.</p>    
                    <ul>
                        <li>
                            <p><strong>Utilisations acceptables :</strong> Il est permis aux utilisateurs de signaler de manière véridique et précise les problèmes rencontrés avec les points d'apport volontaire, d'utiliser la carte interactive pour localiser les points de collecte, et de soumettre des photos pertinentes pour étayer leurs signalements.</p>
                        </li>
                        <li>
                            <p><strong>Utilisations interdites :</strong> Il est strictement interdit de soumettre des signalements faux ou trompeurs , de télécharger des contenus inappropriés, illégaux, diffamatoires, haineux, obscènes, ou portant atteinte aux droits de tiers. Toute tentative d'interférer avec le bon fonctionnement de la plateforme, notamment par des actes de piratage, l'introduction de virus ou de logiciels malveillants, est prohibée. De même, toute utilisation abusive du système de signalement, comme l'envoi de spam ou de messages à caractère harcelant, est interdite. Les utilisateurs doivent s'assurer de respecter l'ensemble des lois et réglementations applicables lors de l'utilisation de la plateforme. Chaque utilisateur est entièrement responsable du contenu qu'il choisit de soumettre via la plateforme. Cette responsabilité englobe la véracité des informations fournies et la légalité des photos téléchargées.</p>                    
                        </li>
                    </ul>
                </section>
                <section>
                    <h1>Contenu généré par l'utilisateur (Signalements et téléchargements de photos)</h1>
                    <p>Les utilisateurs qui soumettent des signalements et téléchargent des photos accordent à Tisseco une licence non exclusive et gratuite pour utiliser, afficher, reproduire et traiter ce contenu dans le but de répondre aux problèmes signalés et d'améliorer le service. Cette licence permet à Tisseco d'exploiter les informations fournies pour la gestion de ses points d'apport volontaire. Les utilisateurs garantissent qu'ils disposent de tous les droits nécessaires pour télécharger ces photos et informations et que ce contenu ne viole en aucun cas les droits de propriété intellectuelle, le droit à l'image ou tout autre droit appartenant à des tiers. Afin de maintenir un environnement approprié sur la plateforme, Tisseco se réserve le droit de modérer le contenu soumis par les utilisateurs et de supprimer tout contenu qui ne respecterait pas les présentes conditions ou qui serait jugé inapproprié, illégal ou préjudiciable.</p>
                </section>
                <section>
                    <h1>Droits de propriété intellectuelle</h1>
                    <p>La plateforme, à l'exception du contenu soumis par les utilisateurs, ainsi que l'ensemble de son contenu original (textes, graphismes, logos, etc.) sont la propriété exclusive de Tisseco ou de ses concédants de licence et sont protégés par les lois relatives à la propriété intellectuelle. Les utilisateurs ne sont pas autorisés à copier, modifier, distribuer, créer des œuvres dérivées, ou utiliser de quelque manière que ce soit le contenu de la plateforme sans l'autorisation écrite préalable de Tisseco. Cette interdiction vise à protéger les droits de propriété intellectuelle de Tisseco et à prévenir toute utilisation non autorisée de ses actifs.</p>
                </section>
                <section>
                    <h1>Exonération de garanties</h1>
                    <p>La plateforme est fournie "en l'état" et sans aucune garantie, qu'elle soit expresse ou implicite, concernant sa disponibilité, son exactitude, sa fiabilité ou son adéquation à un usage particulier. Tisseco ne garantit pas que la plateforme sera exempte d'erreurs ou d'interruptions. En particulier, Tisseco décline toute garantie concernant l'exactitude des données de localisation affichées sur la carte interactive, étant donné que ces informations peuvent provenir de sources diverses, y compris des contributions des utilisateurs ou des services tiers. L'utilisation de la plateforme se fait donc aux risques et périls de l'utilisateur.</p>
                </section>
                <section>
                    <h1>Limitation de responsabilité</h1>
                    <p>Dans toute la mesure permise par la loi applicable, Tisseco ne pourra être tenue responsable des dommages directs, indirects, accessoires, consécutifs ou spéciaux résultant de l'utilisation ou de l'impossibilité d'utiliser la plateforme, même si Tisseco a été informée de la possibilité de tels dommages. Tisseco ne saurait être tenue responsable des problèmes découlant des actions ou omissions des utilisateurs ou de tiers. Cette limitation de responsabilité s'applique à tous les aspects de l'utilisation de la plateforme, y compris, mais sans s'y limiter, les erreurs de contenu, les interruptions de service ou les pertes de données.</p>
                </section>
                <section>
                    <h1>Indemnisation</h1>
                    <p>L'utilisateur s'engage à indemniser et à dégager Tisseco de toute responsabilité en cas de réclamations, dommages, pertes, coûts ou dépenses (y compris les frais d'avocats) découlant de son utilisation de la plateforme ou de sa violation des présentes Conditions d'utilisation. Cette obligation d'indemnisation signifie que l'utilisateur devra prendre en charge les conséquences financières de toute action en justice intentée contre Tisseco en raison de ses agissements sur la plateforme. </p>
                </section>
                <section>
                    <h1>Résiliation</h1>
                    <p>Tisseco se réserve le droit de résilier ou de suspendre l'accès d'un utilisateur à la plateforme, à tout moment et sans préavis, en cas de violation des présentes Conditions d'utilisation, de suspicion d'utilisation abusive ou pour toute autre raison jugée nécessaire. L'utilisateur peut également cesser d'utiliser la plateforme à tout moment. En cas de résiliation, le droit d'utiliser la plateforme prendra fin immédiatement, et Tisseco pourra supprimer tout contenu associé au compte de l'utilisateur, le cas échéant.</p>
                </section>
                <section>
                    <h1>Droit applicable et règlement des différends</h1>
                    <p>Les présentes Conditions d'utilisation sont régies et interprétées conformément au droit français. Tout différend découlant de l'interprétation ou de l'exécution de ces conditions sera soumis à une tentative de règlement amiable. À défaut d'accord amiable, les tribunaux français compétents seront seuls compétents pour connaître de ce différend.</p>
                </section>
                <section>
                    <h1>Modifications des conditions d'utilisation</h1>
                    <p>Tisseco se réserve le droit de modifier les présentes Conditions d'utilisation à tout moment et sans préavis. Les modifications entreront en vigueur dès leur publication sur la plateforme. Il est de la responsabilité de l'utilisateur de consulter régulièrement cette page pour prendre connaissance des éventuelles mises à jour. La poursuite de l'utilisation de la plateforme après la publication des modifications vaudra acceptation de ces nouvelles conditions.</p>
                </section>
                <section>
                    <h1>Informations de contact</h1>
                    <p>Pour toute question ou préoccupation concernant les présentes Conditions d'utilisation, veuillez contacter Tisseco à l'adresse électronique <a href="mailto:contact@tisseco.com" target="_blank">contact@tisseco.com</a> ou à l'adresse postale 15 route d'Ozoir, Roissy-en-brie, 77680.</p>
                </section>
            </div>
        </main>
    <Footer/>
</Layout>
