---
import Layout from "../layouts/Layout.astro";
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
import CommandPalettes from "../components/react/CommandPalettes";
---

<Layout>
  <Header/>
    <!--  py-24 sm:py-32 -->
    <div class="min-h-screen"></div>
    <div class="min-h-screen"></div>
    <div class="relative p-2 bg-indigo-600 h-16">
        <CommandPalettes client:load/>
      </div>
    <Footer/>
</Layout>
