---
import Layout from "../layouts/Layout.astro";
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
---

<Layout>
    <Header/>
        <main class="px-4 sm:px-6 lg:px-8 mx-auto max-w-7xl flex flex-col gap-4">
            <h1 class="line-y py-2 text-5xl tracking-tight sm:text-6xl text-pretty">Politique de confidentialité</h1>
            <p>Dernière mise à jour le <time datetime="2025-05-03T15:00:00">4 mars 2025</time>.</p>
            <div class="max-w-7xl py-4 grid grid-cols-1 gap-6 text-sm/7 text-gray-600 [&_strong]:font-semibold [&_strong]:text-gray-950 [&_p]:mb-2 [&_h1]:mb-4 [&_h1]:text-base/7 [&_h1]:font-semibold [&_h1]:text-gray-950 [&_h2]:text-base/7 [&_h2]:font-semibold [&_h2]:text-gray-950 [&_h3]:font-semibold [&_h3]:text-gray-950 [&_a]:font-semibold [&_a]:text-gray-950 [&_a]:underline [&_a]:decoration-sky-400 [&_a]:underline-offset-4 [&_a]:hover:text-sky-500 [&_li]:relative [&_li]:before:absolute [&_li]:before:-top-0.5 [&_li]:before:-left-6 [&_li]:before:text-gray-300 [&_li]:before:content-[&quot;▪&quot;] [&_ul]:pl-9 [&_pre]:overflow-x-auto [&_pre]:rounded-xl [&_pre]:border-4 [&_pre]:border-gray-950 [&_pre]:bg-gray-900 [&_pre]:p-4 [&_pre]:text-white [&_pre]:outline-1 [&_pre]:-outline-offset-5 [&_pre]:outline-white/10 [&_pre_code]:bg-gray-900 [&_code]:not-in-[pre]:font-medium [&_code]:not-in-[pre]:text-gray-950">
                <section>
                    <h1>Introduction</h1>
                    <p>La présente Politique de confidentialité a pour objectif d'informer les utilisateurs de la plateforme de signalement de Tisseco sur la manière dont leurs données personnelles sont collectées, utilisées et protégées. Tisseco s'engage à respecter la vie privée des utilisateurs et à assurer la protection de leurs données personnelles conformément aux réglementations en vigueur. La présente politique entre en vigueur à la date de sa publication sur la plateforme et pourra être mise à jour périodiquement. La date de la dernière mise à jour sera indiquée en haut de cette page. Il est conseillé aux utilisateurs de consulter régulièrement cette politique pour rester informés de nos pratiques en matière de confidentialité</p>
                </section>
                <section id="data-controller-and-contact-details">
                    <h1>Responsable du traitement et coordonnées</h1>
                    <p>L'association Tisseco, dont le siège social est situé à Roissy-en-brie, 77680, 15 route d'Ozoir, est le responsable du traitement des données personnelles collectées via la plateforme de signalement. Pour toute question relative à la protection de vos données personnelles, vous pouvez contacter Tisseco par email à <a href="mailto:contact@tisseco.com" target="_blank">contact@tisseco.com</a> ou par courrier à l'adresse mentionnée ci-dessus. Le cas échéant, les coordonnées du délégué à la protection des données (DPO) seront également fournies.</p>
                </section>
                <section>
                    <h1>Types de données personnelles collectées</h1>
                    <p>Dans le cadre de l'utilisation de la plateforme, les catégories de données personnelles suivantes peuvent être collectées :</p>
                    <ul>
                        <li><p><strong>Informations de contact :</strong> Nom et adresse e-mail, si l'utilisateur les fournit lors du signalement pour recevoir des mises à jour ou lors d'une éventuelle création de compte.</p></li>
                        <li><p><strong>Données de localisation :</strong> Adresse IP collectée automatiquement, et localisation précise si l'utilisateur accorde la permission pour l'utilisation de la carte interactive.</p></li>
                        <li><p><strong>Données d'utilisation :</strong> Informations sur la manière dont les utilisateurs interagissent avec la plateforme, telles que les pages visitées, les fonctionnalités utilisées et l'activité de signalement.</p></li>
                        <li><p><strong>Informations sur l'appareil :</strong> Type d'appareil, système d'exploitation et informations sur le navigateur.</p></li>
                        <li><p><strong>Photos :</strong> Images téléchargées par les utilisateurs dans le cadre de leurs signalements.</p></li>
                    </ul>
                </section>
                <section>
                    <h1>Méthodes de collecte des données</h1>
                    <p>Ces données personnelles sont collectées de différentes manières :</p>
                    <ul>
                        <li><p><strong>Collecte directe :</strong> Les informations que les utilisateurs fournissent directement via les formulaires de signalement, le formulaire de contact ou lors d'une éventuelle création de compte.</p></li>
                        <li><p><strong>Collecte automatique :</strong> L'adresse IP, les données d'utilisation et les informations sur l'appareil sont collectées automatiquement par le biais de cookies et des journaux de serveur.</p></li>
                        <li><p><strong>Données de localisation :</strong> La localisation précise est collectée uniquement lorsque les utilisateurs interagissent avec la carte interactive et accordent les permissions de localisation.</p></li>
                    </ul>
                </section>
                <section>
                    <h1>Finalités du traitement des données</h1>
                    <p>Les données personnelles collectées sont traitées pour les finalités suivantes :</p>
                    <ul class="list-disc">
                        <li><p>Permettre aux utilisateurs de signaler les problèmes rencontrés avec les points d'apport volontaire.</p></li>
                        <li><p>Afficher la localisation des points d'apport volontaire sur la carte interactive.</p></li>
                        <li><p>Permettre à Tisseco de prendre connaissance des signalements et d'intervenir pour résoudre les problèmes.</p></li>
                        <li><p>Améliorer la plateforme et l'expérience utilisateur grâce à l'analyse des données d'utilisation.</p></li>
                        <li><p>Répondre aux demandes d'information et fournir une assistance aux utilisateurs.</p></li>
                        <li><p>Assurer la sécurité et l'intégrité de la plateforme.</p></li>
                        <li><p>Se conformer aux obligations légales, le cas échéant.</p></li>
                    </ul>
                </section>
                <section>
                    <h1>Base juridique du traitement</h1>
                    <p>Le traitement des données personnelles est fondé sur les bases juridiques suivantes conformément au Règlement Général sur la Protection des Données (RGPD) :</p>
                    <ul>
                        <li><p><strong>Consentement :</strong> Pour la collecte et l'utilisation de la localisation précise dans le cadre de la carte interactive et potentiellement pour d'autres collectes de données optionnelles.</p></li>
                        <li><p><strong>Intérêts légitimes :</strong> Pour le traitement des données d'utilisation afin d'améliorer la plateforme, d'assurer sa sécurité et de répondre aux demandes des utilisateurs, dans la mesure où ces intérêts ne prévalent pas sur les droits et libertés des utilisateurs.</p></li>
                        <li><p><strong>Exécution d'un contrat :</strong> Si la plateforme propose la création d'un compte utilisateur, le traitement des informations de contact peut être nécessaire à la fourniture des services de la plateforme.</p></li>
                    </ul>
                </section>
                <section>
                    <h1>Partage des données personnelles</h1>
                    <p>Les données personnelles collectées peuvent être partagées avec les destinataires suivants :</p>
                    <ul class="list-disc">
                        <li><p>Le personnel de Tisseco responsable de la gestion et de l'entretien des points d'apport volontaire.</p></li>
                        <li><p>Les prestataires de services tiers qui aident à l'exploitation de la plateforme (par exemple, les fournisseurs d'hébergement, les fournisseurs de services de cartographie), en s'assurant que ces prestataires mettent en œuvre des mesures de protection des données adéquates.</p></li>
                        <li><p>Les données personnelles ne seront pas partagées avec des tiers à des fins de marketing sans le consentement explicite des utilisateurs.</p></li>
                        <li><p>Les données pourront être divulguées pour répondre à des obligations légales ou à des procédures judiciaires.</p></li>
                    </ul>
                </section>
                <section>
                    <h1>Durée de conservation des données</h1>
                    <p>Les données personnelles sont conservées pendant une durée limitée et nécessaire aux finalités pour lesquelles elles sont collectées :</p>
                    <ul class="list-disc">
                        <li><p>Les informations de contact fournies lors d'un signalement peuvent être conservées pendant une durée raisonnable pour permettre le traitement du signalement et à des fins d'archivage.</p></li>
                        <li><p>Les données d'utilisation peuvent être conservées pendant une période définie à des fins d'analyse et d'amélioration de la plateforme.</p></li>
                        <li><p>Les photos téléchargées peuvent être conservées jusqu'à la résolution du problème signalé ou pendant une période spécifique après celle-ci.</p></li>
                        <li><p>Les données de localisation collectées avec le consentement de l'utilisateur peuvent être conservées tant que l'utilisateur ne retire pas son consentement ou pendant une période déterminée.</p></li>
                        <li><p>Les critères utilisés pour déterminer les durées de conservation sont la nécessité des données pour la finalité du traitement et les obligations légales applicables.</p></li>
                    </ul>
                </section>
                <section>
                    <h1>Mesures de sécurité des données</h1>
                    <p>Tisseco met en œuvre des mesures de sécurité techniques et organisationnelles appropriées pour protéger les données personnelles contre tout accès, utilisation, divulgation, altération ou destruction non autorisés. Ces mesures comprennent notamment le cryptage des données sensibles, la sécurisation des serveurs et la mise en place de contrôles d'accès. Bien que des mesures de sécurité raisonnables soient mises en place, il est important de noter qu'aucune méthode de transmission sur Internet ni aucun système de stockage électronique n'est totalement sécurisé.</p>
                </section>
                <section>
                    <h1>Droits des utilisateurs en vertu du RGPD</h1>
                    <p>Conformément au Règlement Général sur la Protection des Données (RGPD), les utilisateurs disposent des droits suivants concernant leurs données personnelles :</p>
                    <ul>
                        <li><p><strong>Droit d'accès :</strong> Obtenir la confirmation que des données personnelles les concernant sont traitées et, le cas échéant, d'en obtenir une copie.</p></li>
                        <li><p><strong>Droit de rectification :</strong> Demander la rectification des données personnelles inexactes ou incomplètes.</p></li>
                        <li><p><strong>Droit à l'effacement (« droit à l'oubli ») :</strong> Obtenir l'effacement de leurs données personnelles dans certaines circonstances.</p></li>
                        <li><p><strong>Droit à la limitation du traitement :</strong> Demander la limitation du traitement de leurs données personnelles dans certaines circonstances.</p></li>
                        <li><p><strong>Droit à la portabilité des données :</strong> Recevoir leurs données personnelles dans un format structuré, couramment utilisé et lisible par machine, et de les transmettre à un autre responsable du traitement.</p></li>
                        <li><p><strong>Droit d'opposition :</strong> S'opposer au traitement de leurs données personnelles dans certaines circonstances.</p></li>
                        <li><p><strong>Droit de retirer leur consentement :</strong> Retirer leur consentement à tout moment lorsque le traitement est fondé sur celui-ci.</p></li>
                        <li><p style="margin-bottom: 0;"><strong>Droit d'introduire une réclamation auprès d'une autorité de contrôle :</strong> Introduire une réclamation auprès de la Commission Nationale de l'Informatique et des Libertés (CNIL) en France.</p></li>
                    </ul>
                    <p>Pour exercer ces droits, les utilisateurs peuvent contacter Tisseco aux coordonnées indiquées dans la section <a href="#data-controller-and-contact-details">Responsable du traitement et coordonnées</a>.</p>
                </section>
                <section>
                    <h1>Utilisation de cookies et de technologies de suivi (pour la carte interactive)</h1>
                    <p>La plateforme peut utiliser des cookies ou des technologies de suivi similaires, notamment pour la fonctionnalité de carte interactive (par exemple, pour mémoriser les préférences de l'utilisateur, améliorer les performances). Les cookies sont de petits fichiers texte placés sur l'appareil de l'utilisateur. Si des cookies sont utilisés, des informations sur les types de cookies utilisés, leur finalité et la manière dont les utilisateurs peuvent gérer leurs préférences en matière de cookies (par exemple, via une bannière de cookies ou les paramètres de leur navigateur) seront fournies.</p>
                </section>
                <section>
                    <h1>Liens vers des sites tiers</h1>
                    <p>La plateforme peut contenir des liens vers des sites web ou des services de tiers. Tisseco n'est pas responsable des pratiques de confidentialité de ces sites externes et invite les utilisateurs à consulter leurs politiques de confidentialité respectives.</p>
                </section>
                <section>
                    <h1>Transferts internationaux de données (le cas échéant)</h1>
                    <p>Si des données personnelles sont transférées en dehors de l'Espace Économique Européen (EEE), des informations sur les garanties mises en place pour assurer un niveau adéquat de protection des données (par exemple, les clauses contractuelles types) seront fournies.</p>
                </section>
                <section>
                    <h1>Mises à jour de la présente politique de confidentialité</h1>
                    <p>Tisseco se réserve le droit de mettre à jour la présente Politique de confidentialité à tout moment et sans préavis. Les modifications entreront en vigueur dès leur publication sur la plateforme. Les utilisateurs seront informés des changements par le biais d'une notification sur la plateforme ou par email. La poursuite de l'utilisation de la plateforme après la publication des modifications vaudra acceptation de la politique mise à jour.</p>
                </section>
                <section>
                    <h1>Informations de contact</h1>
                    <p>Pour toute question ou préoccupation concernant la présente Politique de confidentialité, veuillez contacter Tisseco aux coordonnées indiquées dans la section <a href="#data-controller-and-contact-details">Responsable du traitement et coordonnées</a>.</p>
                </section>
            </div>
        </main>
    <Footer/>
</Layout>
